{% extends 'base.html' %}

{% block content %}
<body>
    <div>
        {% for log in logs %}
        <div class="daily-value">
            Daily Log: {{log.value}} {{habit.goal_unit}} today
        </div>
        {% if log.value < habit.goal_value %}
        <div class="goal-not-met"> 
            <i class="fas fa-thumbs-down"></i>Daily Goal Not Met!
        </div>
        {% else %}
        <div class="goal-met"> 
            <i class="fas fa-thumbs-up"></i>Daily Goal Met!
        </div>
        {% endif %}

        <div class="goal daily-log-comments">
            {{log.comments}}
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'new-habit', pk=habit.pk %}" class="button">Add Habit</a>
        <a href="{% url 'edit-habit', pk=habit.pk %}" class='button'>Edit Habit</a>
        <a href="{% url 'delete-habit', pk=habit.pk %}" class='button'>Delete Habit</a>
        <a href="{% url 'habit-list'%}" class="button">Home</a>

    </div>
</body>
{% endblock %}