{% extends 'base.html' %}

{% block content %}
<body>
    <h2 class="sort">Daily Log: </h2>
    <div>
    {% for habit in habits %}
        <p class="habit-name">What would you like to work on: {{habit.goal}}</p>
        <p class="habit-goal">My goal: {{habit.goal_value}} {{habit.goal_unit}} {{habit.goal_unit}}</p>
        <button class="button">Add Habit</button>
        <button class="button">Edit Habit</button>
        <button class="button">Delete Habit</button>
    </div>

    {% endfor %}

</body>
{% endblock %}