{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% block title %}
    <title>Habit Tracker</title>
    {% endblock %}
</head>
<header>
    <a class="home-button" href="{% url 'habit-list' %}">
        <div>
            <a class="logout" href="/accounts/logout/">Logout</a>
        </div>
    </a>
</header>

<body>
    <h1>Habit Tracker </h1>
    

    {% block content %} {% endblock %}
</body>
</html>